:root {
    --header-color: #131313;
    --nav-color: #3b3b3b;
    --main-color: #676767;
    --footer-color: #979797;
    --text-color: #cacaca;
    --header2-color: #0076a9;
    --important-color: #1561f0;
}